<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">LudoPet</a>

        <div>
            <a class="btn btn-light me-2" href="/lojapet">Loja Pet</a>
            <a class="btn btn-light me-2" href="/kit-boas-vindas">Kit Boas-vindas</a>
            <a class="btn btn-light" href="/petalerta">Pet Alerta</a>
        </div>
    </div>
</nav>

</body>
</html>